<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- css bundle & jquery + bootstrap js-->
    <link rel="stylesheet" href="/styles/app.css"/>
    <script src="/jquery/jquery.slim.min.js"></script>
    <script src="/bootstrap-js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/df96c4cef4.js" crossorigin="anonymous"></script>
    <title>docker-express</title>
</head>
<body>
