# dev
START_COMMAND=nodemon -L run start
# prod
# START_COMMAND=forever -c 'node --harmony' ./app.js --minUptime 1000 --spinSleepTime 1000

APP_NAME=docker-express
NODE_ENV=development
SECRET_KEY=smells like cat spirit
PORT=8000
HOST=0.0.0.0
MONGO_CONNECTION=connection string

NGINX_PROXY_PORT=80