<% include includes/head.ejs %>
<% include includes/navbar.ejs %>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-white"><%= status %></h1>
            <p class="text-white"><%= msg %></p>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
