<% include ../includes/head.ejs %>
<% include ../includes/navbar.ejs %>
<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <h2>profile page</h2>
            <h4 class="text-light">welcome back <span class="text-secondary"><%= user.email %></span></h4>
            <p class="text-secondary">go back to <a href="/">home &raquo;</a></p>
        </div>
    </div>
</div>
<% include ../includes/footer.ejs %>
