//Utility classes
@for $weight from 1 through 7 {
  .font-weight-#{$weight * 100} {
    font-weight: #{$weight * 100};
  }
}

@for $size from 1 through 60 {
  .font-size-#{$size}px {
    font-size: #{$size}px !important;
  }
}

//Loading spinner
@for $size from 1 through 10 {
  .spinner-size-#{$size} {
    border: #{$size * 1}px solid $light;
    border-top: #{$size * 1}px solid $primary;
    border-radius: 50%;
    width: #{$size * 10}px;
    height: #{$size * 10}px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}